/* src/components/DrawingTools/DrawNav.module.css */

.navContainer {
  display: flex;
  
  gap: 0.2rem;
  padding: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.9rem;
  justify-content: left;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: fit-content; /* Adjust width as needed */
}

@media (max-width: 768px) {
  .navContainer {
    flex-wrap: wrap;
    padding: 0.5rem;
  }
}

.navContainer button {
  transition: transform 0.2s ease;
}

.navContainer button:hover {
  transform: scale(1.1);
}
.navContainer button:active {
  transform: scale(0.95);
}
